div{
    margin-left: 70%;
}

form label input,form input{
    display: block;
    font-size: 1.1em;
    margin-bottom: 5%;
    padding: 0.3%;
}

form input[type=submit]{
    margin-top: 1%;
    font-size: 18px;
}