body{
    background-color: green;
    overflow-x: hidden;
}

div:first-child{
    width: 95%;
    transform: translateX(30%);
}
form{
    margin: 5%;
}

form input{
    display: block;
    margin: 1%;
    width: 30%;
    height: 80%;
    font-size: 20px;
}
form label input{
    display: inline;
    width: auto;
    height: auto;
}
form label{
    font-size: 23px;
}

p a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}
p a:hover{
    color: chartreuse
}
div:nth-child(2){
    transform: translateX(34%);
}