{% extends 'index.html' %}

{% block title %}
    {% load static %}
    <title>Confirmación de la inscripción</title>
{% endblock title %}    

{% block css %}
    <link rel="stylesheet" href="{% static '/api/css/formularioInscripción.css' %}">    
{% endblock css %}
    
{% block body %}
    <div id="divServidor">
        <a href="{% url 'api:index' %}"><img src="{% static '/api/img/x.png' %}" id="salirServidor"></a>
        <p id="pServidor">{{ respuesta }}</p>
        {% if 'NO' in respuesta %}
            <img src="{% static '/api/img/cara triste.png' %}" id="cara"> 
        {% else %}
            <img src="{% static '/api/img/cara feliz.png' %}" id="cara">
        {% endif %}
    </div>
{% endblock body %}
    