<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/ico/cambio correo.ico" type="image/x-icon">
    <title>Cambio de correo</title>
    <!-- font iconos -->
    <script src="https://kit.fontawesome.com/6d1eb7a102.js" crossorigin="anonymous"></script>
    <!-- bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
    <div class="box">
        <p>Cambio de correo</p>
        <div>
            <form action="{% url 'api:put-correo' %}" method="post" class="content">
                <div class="field">
                    <div class="control has-icons-left">
                        <span class="icon is-left">
                            <i class="fas fa-at"></i>
                        </span>
                        <input class="input" type="email" id="user" name="user" placeholder="Ingrese su correo"
                            required>
                    </div>
                </div>
                <input type="submit" value="Cambiar correo" id="email" class="button are-medium is-success">
            </form>
        </div>


        <!-- <p style="color:greenyellow;">{{ correo }}</p>

        <p style="color:white">{{correo}}</p>

        <p></p> -->

    </div>
    <p id="mensajeRecerba" class="is-link"><a href="{% url 'api:index' %}">Volver al menu principal</a></p>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</body>

</html>