<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font iconos -->
    <script src="https://kit.fontawesome.com/6d1eb7a102.js" crossorigin="anonymous"></script>
    <!-- bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>Reserbas hechas</title>
</head>

<body>
    <table class="block content box table">
        <th>N° de recerba</th>
        <th>Deporte recerbado</th>
        <th>Fecha de la recerba</th>
        <th>horario</th>
        <th>Total a Pagar</th>
        <!-- <th>Cancelar</th> -->
        <!-- {% for lista in recerbas %}
            <tr>
                {% for elementos in lista %}
                    <td>{{elementos}}</td>
                {% endfor %}
                <td><button class="botonCancelarRecerba">Cancelar recerba</button></td>
            </tr>    
        {% endfor %} -->
    </table>
    <!-- {% else %}
    <p id="mensajeRecerba">Aqui apareceran sus recerbas realizas.<br><br>Usted no tiene ninguna recerba realizada</p>
{% endif %} -->

    <p class="is-link"><a href="{% url 'api:index' %}">Volver al menu principal</a></p>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</body>

</html>