*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x: hidden;
}
nav{
    margin-bottom: 18%;
}
.navbar-dropdown {
    display: none;
}
.navbar-item{
    text-align: center;
}
.is-hoverable:hover .navbar-dropdown {
    display: block;
    position: fixed;
    z-index: 1;
}
.navbar-dropdown .navbar-item:hover {
    background-color: rgba(230, 222, 220, 1);
}
.form{
    margin:0% auto;
    width: 50%;
}
a,#sports a{
    text-decoration: none;
}

#sports div picture img, #competitions img{
    width: 200px;
    height: 200px;
}
#sports div,#competitions figure{
    margin-left: 3%;
    margin-right: 2%;
}
#tituloTorneos{
    margin-top: 8%;
    color: green;
    text-align: center;
}
footer div:hover header{
    position: relative;
    top: 1%;
    font-size: 22px;
}
footer div p{
    display: none;
}
footer div:hover p{
    display: block;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    word-break: break-all;
    font-size: 20px;
}