*{
    margin: 0%;
    padding: 0%;
}
body{
    overflow-x: hidden;
}
/* #logoMyCompany{
    background-color:green;
}
#logoMyCompany div{
    display: grid;
    grid-template-columns: 0.5fr 0.1fr 5fr;
    justify-items: end;
} */
/* #logoMyCompany div img{
    width: 135px;
    height: 132px;
}
#logoMyCompany div #logo{
    justify-self: start;
}
#logoMyCompany div> picture>source + #atletas{
    justify-self: end;
} */
#logoMyCompany div > #titulo{
    justify-self: start;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 5px 12px 3px black;
}
.navbar-dropdown {
    display: none;
}

.is-hoverable:hover .navbar-dropdown {
    display: block;
    position: fixed;
    z-index: 1;
}

.navbar-dropdown .navbar-item:hover {
    background-color: rgba(230, 222, 220, 1);
}
/* #sports{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1em;
    justify-content: center;
} */
#sports > #futbol,#sports > #gym,#sports > #sinkSwimming,#sports > #paddle{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 1em; 
}
a{
    text-decoration: none;
}
#sports a{
    text-decoration: none;
}
/* #sports div > picture img, #competitions img{
    width: 300px;
    height: 300px;
} */
#tituloTorneos{
    margin-top: 8%;
    color: green;
    text-align: center;
}
/* #competitions{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    column-gap: 0.5em;
    font-size: 30px;
    margin-top: 3%;
} */

footer div:hover header{
    position: relative;
    top: 1%;
    font-size: 22px;
}
footer div p{
    display: none;
}
footer div:hover p{
    display: block;
    text-align: justify;
    padding-left: 2%;
    padding-right: 2%;
    word-break: break-all;
    font-size: 20px;
}
footer div:hover p a{
    color: yellow;
}
#form{
    margin-top: 2%;
    width: auto;
    background-color: green;
    display: none; 
}
#form > #formContact #salir{
    width: 25px;
    height: 25px;
    position: relative;
    left: 92%;
    margin-top: 2%;
    border-radius: 50%;
}
#form > #formContact{
    margin: 0% auto;
    width: 400px;
    height: auto;
    border: 1px solid darkblue;
    background-color: green;
}

/* #form > #formContact>input,#form > #formContact>select,#formContact>textarea{
    margin: 5%;
    width: 85%;
    height: 35px;
    padding-left: 2%;
    font-size: 18px;
    font-weight: 200;
    outline: yellow;
}
#form > #formContact>select{
    width: 88%;
}
#form > #formContact>textarea{
    height: 50%;
    resize: none;
}
#form > #formContact>button{
    width: 80%;
    background-color: green;
    color: white;
    font-size: 18px;
    margin-left: 10%;
} */
/* @media screen and (min-width:299px) and (max-width:575px){
    #logoMyCompany div img{
        width: 60px;
        height: 60px;
    }
    #logoMyCompany div > #titulo{
        font-size: 13px;
    }
    #sports{
        column-gap: 2px;
    }
    #sports a{
        font-size: 9px;
    }
    #sports div > picture img, #competitions img{
        width: 70px;
        height: 70px;
    }
    #tituloTorneos{
        font-size: 15px;
    }
    footer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }
    footer div{
        height: 130px;
        font-size: 17px;
        box-sizing: border-box;
    }
    footer div:hover header{
        font-size: 17px;
    }
    footer div:hover p{
        padding-top: 2%;
        font-size: 14px;
    }
    #form > #formContact{
        width: 250px;
    }
    #form > #formContact #salir{
        position: relative;
        left: 89%;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    #logoMyCompany div img{
        width: 100px;
        height: 100px;
    }
    #logoMyCompany div > #titulo{
        font-size: 23px;
    }
    #sports{
        column-gap: 0.1em;
    }
    #sports a{
        font-size: 15px;
    }
    #sports div > picture img, #competitions img{
        width: 100px;
        height: 100px;
    }
    #tituloTorneos{
        font-size: 20px;
    }
    footer div{
        height: 150px;
        box-sizing: border-box;
        font-size: 19px;
    }
    footer div:hover header{
        font-size: 16px;
    }
    footer div:hover p{
        padding-top: 2%;
        font-size: 15px;
    }
}
@media screen and (min-width:768px) and (max-width:991px){
    #logoMyCompany div img{
        width: 150px;
        height: 150px;
    }
    #logoMyCompany div > #titulo{
        font-size: 32px;
    }
    #sports{
        column-gap: 0.1em;
    }
    #sports a{
        font-size: 22px;
    }
    #sports div > picture img, #competitions img{
        width: 150px;
        height: 150px;
    }
    #tituloTorneos{
        font-size: 25px;
    }
    footer div{
        height: 200px;
        box-sizing: border-box;
        font-size: 30px;
    }
    footer div:hover header{
        font-size: 20px;
    }
    footer div:hover p{
        padding-top: 2%;
        font-size: 19px;
    }
}
@media screen and (min-width:992px) and (max-width:1239px){
    #logoMyCompany div img{
        width: 150px;
        height: 150px;
    }
    #logoMyCompany div > #titulo{
        font-size: 32px;
    }
    #sports{
        column-gap: 0.1em;
    }
    #sports a{
        font-size: 25px;
    }
    #sports div > picture img, #competitions img{
        width: 220px;
        height: 220px;
    }
    #tituloTorneos{
        font-size: 30px;
    }
    footer div{
        height: 180px;
        box-sizing: border-box;
        font-size: 30px;
    }
    footer div:hover header{
        font-size: 20px;
    }
    footer div:hover p{
        padding-top: 2%;
        font-size: 19px;
    }
}
nav ol{
    display: none;
}

nav ul li:hover > ol{
    display: block;
    border: 1px solid greenyellow;
    background-color: green;
    width: 70%;
    margin-left: 13%;
}

nav ul li > ol li a{
    font-size: 20px;
    text-align: center;
    margin: none;
}
nav ul li > ol li:hover {
    background-color: rgb(4, 223, 4);
}
nav ul li > ol li a:hover,nav ul li > ol li:hover{
    color: rgb(60, 92, 12);
} */