body{
    background-color: green;
    color: white;
    font-size: 25px;
}
p{
    margin-left: 1%;
    font-size: 25px;
}
#mensajeRecerba{
    color: white;
    font-size: 30px;
    text-align: right;
}
p>a{
    text-decoration: none;
    color: white;
}
p>a:hover{
    color: greenyellow;
}
