body{
    background-color: green;
}
table{
    border:1px solid black;
    margin: 0% auto;
    width: 90%;
}
table> *{
    font-size: 25px;
    text-align: center;
    color: white;
}
table tr,table td{
    border: 1px solid blue;
}
table th:first-child,table tr td:first-child{
    display: none;
}
#mensajeRecerba{
    color: white;
    font-size: 30px;
    text-align: center;
}
p:not(#mensajeRecerba){
    font-size: 25px;
    text-align: right;
    margin-right: 1%;
}
p>a{
    text-decoration: none;
    color: white;
}
p>a:hover{
    color: greenyellow;
}
table tr:hover{
    background-color: greenyellow;
    color: green;
}