<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de correo</title>
</head>

<body>
    <div>
        <p>Cambio de correo</p>
        <form action="{% url 'api:put-correo' %}" method="post">
            <label for="">Ingrese su nuevo correo
                <input type="text" name="email" id="newEmail">
            </label>
            <input type="submit" value="Cambiar correo" id="email">
        </form>


        <p style="color:greenyellow;"></p>

        <p style="color:white"></p>

        <p></p>

    </div>
    <p id="mensajeRecerba"><a href="{% url 'api:index' %}">Volver al menu principal</a></p>

</body>

</html>