<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>

    <link rel="shortcut icon" href="{% static '/api/img/ico/cambio contraseña.ico' %}" type="image/x-icon">
</head>

<body>
    <div>
        <p>Cambio de Contraseña</p>
        <form action="{% url 'api:put-password' %}" method="post" id="password">
            <label for="#password1">Contraseña actual
                <input type="password" name="passwordOld" id="password1" required>
            </label>
            <label for="password2">Ingrese su nueva contraseña
                <input type="password" name="passwordNew" id="password2" required>
            </label>
            <label for="password3">Repita la nueva contraseña
                <input type="password" name="password3" id="password3" required>
            </label>
            <input type="submit" value="Cambiar contraseña" id="pass">
        </form>


        <p style="color:greenyellow">{{ respuesta }}</p>

        <p>{{ respuesta }}</p>

        <p style="color: white;">{{ respuesta }}</p>

    </div>
    <p id="mensajeRecerba"><a href="{% url 'api:index' %}">Volver al menu principal</a></p>
</body>

</html>