<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña</title>
    <link rel="shortcut icon" href="{% static '/api/img/ico/recuperacion contraseña.ico' %}" type="image/x-icon">
</head>

<body>

    <form action="{% url 'api:recovery-count' %}" method="GET" id="form_recu_contra">
        <!-- {% csrf_token %} -->
        <p style="color: red;font-size: 25px;">{{mensaje}}</p>
        <input type="text" placeholder="ingrese su correo" class="email1" required>
        <input type="password" placeholder="Ingrese su nueva contraseña" class="password1" required>
        <input type="submit" value="Obtener nueva clave" id="recuperar_contrasena">
    </form>
    <p id="mensajeRecerba"><a href="{% url 'api:index' %}">Volver al menu principal</a></p>
</body>

</html>